@charset "utf-8";
html{
    height: 100%;
}
.sub_header{
    padding-bottom: 100px;
}
.form{
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}
.contact{
    width: 100%;
    margin-bottom: 30px;
}
.table{
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    border-color: gray;
}
.contact_line{
    height: 50px;
    line-height: 50px;
}
.contact_sign{
    width: 25%;
    background: #beb9b7;
    border: solid 1px #beb9b7;
    text-align: left;
    padding: 0 20px;
}
.contact_input{
    width: 75%;
    border: solid 1px #beb9b7;
}
.contact_input input{
    height: 50px;
    border: none;
    width: 99%;
}
.contact_input textarea{
    height: 100px;
    border: none;
    width: 99%;
}
.contact_btn_area{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.reset_btn{
    background: #e6e6e6;
}
.contact_btn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
.submit_btn{
    background: #9852a5;
    color: #fff;
}
